<ion-view title="登录">

  <ion-content scroll="false" class="pdt-48 pdl-24 pdr-24">

    <div class="list">
      <label class="item item-input border-top-0 border-left-0 border-right-0">
        <span class="input-label">账号</span>
        <input type="text" placeholder="请输入账号/手机号" ng-model="form.account">
      </label>

      <label class="item item-input border-left-0 border-right-0">
        <span class="input-label">密码</span>
        <input type="password" placeholder="请输入密码" ng-model="form.password">
      </label>
    </div>

    <div class="text-right positive">
      <a native-ui-sref="findPassword()">找回密码</a>
    </div>

    <button class="button button-block button-energized mgt-48 mgb-16" on-tap="login()">登录</button>
    <a class="button button-block button-energized button-outline" native-ui-sref="register()">快速注册</a>

  </ion-content>

</ion-view>
